<div ng-init="init()">
    <div class="post post-pointer transition-all" ng-repeat="post in posts">
        <div class="post-content transition-all" ng-click="read(post.id)">
            <div class="post-avatar"><img ng-src="{{ users[post.from].avatar }}" /></div>
            <div class="post-info">
                <p>
                    <strong>{{ users[post.from].name }}</strong>
                    <!--share    --><span ng-if="post.category === 'share'"> 分享了一篇貼文。</span>
                    <!--scrapbook--><span ng-if="post.category === 'scrapbook'"> 在剪貼簿上新增了一篇貼文。</span>
                    <!--comment  --><span ng-if="post.category === 'comment'"> 回應了 <strong ng-if="post.reluser !== '他自己'">{{ post.reluser }}</strong><span ng-if="post.reluser === '他自己'">他自己</span> 的 <span class="post-highlight">貼文。</span></span>
                    <!--question --><span ng-if="post.category === 'question'"> 提出了一個問題。</span>
                    <!--answer   --><span ng-if="post.category === 'answer'"> 回答了 <strong ng-if="post.reluser !== '他自己'">{{ post.reluser }}</strong><span ng-if="post.reluser === '他自己'">他自己</span> 的 <span class="post-highlight">問題</span>。</span>
                    <!--course   --><span ng-if="post.category === 'course'"> {{ message }}</span>
                    <!--practice --><span ng-if="post.category === 'practice'"> {{ message }}</span>
                    <!--emotion  --><span ng-if="post.category === '!emotion'"> 對你的貼文的表情是 <span class="post-highlight">{{ message }}</span>！</span>
                    <!--follow   --><span ng-if="post.category === '!follow'"> 正在<span class="post-highlight">關注</span>你。</span>
                    
                </p>
                <p class="post-time" am-time-ago="post.date"></p>
            </div>
            <div class="post-main" ng-if="post.category === 'share' || post.category === 'scrapbook' || post.category === 'comment' || post.category === 'question' || post.category === 'answer'" lm-markup ng-bind-html="post.message | markup | autolink"></div>
        </div>
    </div>
    <div ng-if="more" style="text-align: center; padding-top: 10px;">
        <button class="btn btn-info btn-lg" ng-click="more()">載入更多</button>
    </div>
</div>