<div ng-init="init()">
    <div class="post transition-all">
        <div class="post-content transition-all">
            <div class="post-avatar"><img ng-src="{{ users[post.from].avatar }}" /></div>
            <div class="post-info">
                <p>
                    <strong>{{ users[post.from].name }}</strong>
                </p>
                <p class="post-time" am-time-ago="post.date"></p>
            </div>
            <div class="post-main" ng-bind-html="post.message | markup | autolink"></div>
            <div class="post-image" ng-if="post.image !== ''">
                <img lm-image="{{ post.image }}" />
            </div>
        </div>
    </div>
    <div class="post transition-all" ng-repeat="reply in replies">
        <div class="post-content transition-all">
            <div class="post-avatar"><img ng-src="{{ users[reply.from].avatar }}" /></div>
            <div class="post-info">
                <p>
                    <strong>{{ users[reply.from].name }}</strong>
                </p>
                <p class="post-time" am-time-ago="reply.date"></p>
            </div>
            <div class="post-main" lm-markup ng-bind-html="reply.message | markup | autolink"></div>
            <div class="post-image" ng-if="reply.image !== ''">
                <img lm-image="{{ reply.image }}" />
            </div>
        </div>
    </div>
    <div ng-if="moreToLoad" style="text-align: center; padding-top: 10px;">
        <button class="btn btn-info btn-lg" ng-click="more()">載入更多</button>
    </div>
</div>